/* For the Game Over page */
.game-over {
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.game-over-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 36px;
}

button {
    background: #ff6a00;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #ee0979;
}
