<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Game</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body class="start-game">
    <div class="landing-container">
        <h1>Rock, Paper, Scissors</h1>
        <p>Click the button below to start the game!</p>
        <button onclick="window.location.href='/in-game-session'">Start Game</button>
    </div>
</body>
</html>
